body {
    width: 1280px;
    height: 785px;
}

.widget-meteo{
    width: 704px;
    height: 200px;
}

.widget-calendar {
    height: 600px;
    width: 706px;
}

    .widget-calendar .fc-content {
        font-size: 11px;
    }

    .widget-calendar .fc-button-group {
        font-size: 12px !important;
    }

    .widget-calendar .fc-today-button {
        font-size: 12px !important;
    }

    .widget-calendar .JourFerie {
        background-color: cadetblue;
        border-color: cadetblue;
    }

    .widget-calendar .default-event {
        background-color: orangered;
        border-color: orangered;
    }

