body {
    width: 1280px;
    height: 785px;
}

.widget-meteo{
    width: 630px;
    height: 200px;
}

.widget-calendar {
    height: 600px;
    width: 630px;
}

    .widget-calendar .fc-content {
        font-size: 11px;
    }

    .widget-calendar .fc-button-group {
        font-size: 12px !important;
    }

    .widget-calendar .fc-today-button {
        font-size: 12px !important;
    }

