body {
    width: 1280px;
    height: 800px;
    background-color:gainsboro;

}

.widget-meteo {
    float: left;
}

.spotify-tab {
    width: 1280px;
    height: 800px;
}

.spotify-frame {
    width: 1280px;
    height: 800px;
}
